Repository Rookout/docs, pull requests merged in 2018-11, with the labels that each got.

#109 Disable TOC - It's not actually used anywhere and seems to be causing various issues
  website/siteConfig.js
Labels: DeployEnforcer/MergeOnceApproved, Documentation

#108 uwsgi fixes
  docs/rooks-setup.md
Labels: DeployEnforcer/MergeOnceApproved, Documentation

#113 back to headers in rook setup pages
  docs/rooks-setup.md
Labels: DeployEnforcer/MergeOnceApproved, docs, enhancement

#105 text_file and json_file are agent only
  docs/rules-operations.md
Labels: DeployEnforcer/MergeOnceApproved, docs, enhancement

#114 remove loggly mentions
  docs/integrations-home.md
  docs/rules-operations.md
Labels: DeployEnforcer/MergeOnceApproved, docs, enhancement

#115 Slack and sumologic to saas
  docs/rules-operations.md
Labels: docs, enhancement

#118 test connectivity section
  docs/rooks-setup.md
Labels: DeployEnforcer/MergeOnceApproved, docs, enhancement

#112 Source maps for node
  docs/rooks-setup.md
Labels: DeployEnforcer/MergeOnceApproved, docs, enhancement

#116 Agent setup new page
  docs/agent-setup.md
  website/i18n/en.json
  website/sidebars.json
Labels: DeployEnforcer/MergeOnceApproved, docs, enhancement

#120 updated rook docker snippets
  docs/rooks-setup.md
Labels: DeployEnforcer/MergeOnceApproved, docs, enhancement

#124 Rebuilt the Python API docs
  docs/rooks-setup.md
Labels: DeployEnforcer/MergeOnceApproved, Documentation

#119 Document data redaction
  docs/rules-operations.md
Labels: DeployEnforcer/MergeOnceApproved, docs, enhancement

#125 Updated search input modifications to jquery
  website/static/js/rookoutCustom.js
Labels: docs

#126 Removing a line that is out of context
  docs/rooks-setup.md
Labels: DeployEnforcer/MergeOnceApproved, Documentation

#127 include externals in rookout file
  docs/troubleshooting-rules.md
Labels: DeployEnforcer/MergeOnceApproved, docs, enhancement

#129 fix packages typo
  docs/troubleshooting-rules.md
Labels: DeployEnforcer/MergeOnceApproved, bug, docs

#131 Fix Rookout/Rookout#2477
  docs/agent-setup.md
  docs/rooks-setup.md
Labels: DeployEnforcer/MergeOnceApproved, docs

#130 Updated copy button to an automatic method for code blocks and update…
  docs/quick-start.md
  docs/sandbox-getting-started.md
  website/siteConfig.js
  website/static/css/code-blocks-buttons.css
  website/static/css/custom.css
  website/static/js/code-blocks-buttons.js
  website/static/js/rookoutCustom.js
Labels: DeployEnforcer/MergeOnceApproved, docs

#128 New rules pages
  docs/Rules-Intro-basics.md
  docs/getting-started.md
  docs/reference-home.md
  docs/rules-intro-capabilities.md
  docs/rules-intro-related.md
  docs/rules-intro-status.md
  docs/sandbox-getting-started.md
  website/i18n/en.json
  website/sidebars.json
Labels: DeployEnforcer/MergeOnceApproved, docs, enhancement

#134 Merge rule scripting sections
  docs/rules-aug.md
  docs/rules-index.md
  docs/rules-namespaces-agent.md
  docs/rules-namespaces-container.md
  docs/rules-namespaces-frame.md
  docs/rules-namespaces-index.md
  docs/rules-namespaces-machine.md
  docs/rules-namespaces-object.md
  docs/rules-namespaces-rook.md
  docs/rules-namespaces-stack.md
  docs/rules-namespaces-utils.md
  docs/rules-operations.md
  docs/rules-paths.md
  docs/rules-uses.md
  website/i18n/en.json
  website/sidebars.json
Labels: DeployEnforcer/MergeOnceApproved, docs, enhancement

#135 New workspaces page
  docs/Rules-Intro-basics.md
  docs/rules-intro-capabilities.md
  docs/rules-intro-related.md
  docs/rules-intro-status.md
  docs/rules-intro-workspaces.md
  website/i18n/en.json
  website/sidebars.json
Labels: DeployEnforcer/MergeOnceApproved, docs, enhancement

#136 mention source mapping and include externals under workspaces
  docs/rules-intro-workspaces.md
  website/i18n/en.json
Labels: DeployEnforcer/MergeOnceApproved, docs, enhancement

#139 sandbox links in welcome page
  docs/introduction.md
Labels: DeployEnforcer/MergeOnceApproved, docs, enhancement

#138 Add LogRocket
  website/siteConfig.js
  website/static/js/rookoutCustom.js
Labels: DeployEnforcer/MergeOnceApproved, Documentation

#140 Rookout/Rookout#2521
  docs/sandbox-getting-started.md
Labels: docs, enhancement

#143 Fix tabs
  docs/agent-setup.md
  docs/quick-start.md
  docs/rooks-setup.md
  docs/sandbox-getting-started.md
  website/siteConfig.js
  website/static/css/custom.css
  website/static/js/rookoutCustom.js
Labels: docs, enhancement

#144 added update\restart\uninstall documentation
  docs/agent-setup.md
Labels: DeployEnforcer/MergeOnceApproved, docs

#145 Updated Docusaurus to 1.5.1
  package-lock.json
  website/i18n/en.json
  website/package-lock.json
  website/package.json
  website/siteConfig.js
  website/static/css/custom.css
  website/static/css/docsearch.css
  website/static/js/rookoutCustom.js
Labels: docs, enhancement

#142 Document behavior under pre-loading servers
  docs/rooks-setup.md
Labels: DeployEnforcer/MergeOnceApproved, docs, enhancement

#148 sandbox link fix
  docs/introduction.md
Labels: DeployEnforcer/MergeOnceApproved, bug, docs

#150 minor agent setup style fixes revisited
  docs/agent-setup.md
Labels: DeployEnforcer/MergeOnceApproved, docs, enhancement

#151 Rookout/Rookout#2598
  docs/rooks-setup.md
Labels: DeployEnforcer/MergeOnceApproved, docs

#153 Document PyPy/OSX/pkg-config issue
  docs/rooks-setup.md
Labels: Documentation

#152 Added JVM API snippet
  docs/rooks-setup.md
Labels: Documentation

#154 Added JVM application detection workaround.
  docs/rooks-setup.md
Labels: DeployEnforcer/MergeOnceApproved, Documentation

#156 RK-132 depth limit text and screenshots
  docs/rules-aug.md
  website/static/img/screenshots/max_collection_depth.png
  website/static/img/screenshots/max_depth.png
Labels: DeployEnforcer/MergeOnceApproved, docs, enhancement

#157 RK-203 forking is unsafe warning
  docs/rooks-setup.md
Labels: DeployEnforcer/MergeOnceApproved, docs, enhancement

#159 RK-141 - tags and workspaces revisited
  docs/workspaces-tagging.md
  docs/workspaces.md
Labels: DeployEnforcer/MergeOnceApproved, docs, enhancement

#161 RK-263 - Updates to workspaces copy
  docs/workspaces.md
Labels: DeployEnforcer/MergeOnceApproved

#160 RK-177 updating Python snippets to use API
  docs/rooks-setup.md
Labels: DeployEnforcer/MergeOnceApproved

#164 added node commit detection docs RK-297
  docs/rooks-setup.md
Labels: DeployEnforcer/MergeOnceApproved

#165 RK-330 Updated footer to be auto-generated from sidebars.json
  website/core/Footer.js
  website/static/css/custom.css
Labels: DeployEnforcer/MergeOnceApproved

#166 RK-322 add tagging graphics
  docs/workspaces-tagging.md
  website/static/img/screenshots/tagging_1.png
  website/static/img/screenshots/tagging_2.png
  website/static/img/screenshots/tagging_3.png
  website/static/img/screenshots/tagging_4.png
  website/static/img/screenshots/tagging_5.png
  website/static/img/screenshots/tagging_6.png
Labels: DeployEnforcer/MergeOnceApproved, docs, enhancement

#167 tagging minor fixes
  docs/workspaces-tagging.md
Labels: DeployEnforcer/MergeOnceApproved, docs, enhancement
