Repository Rookout/docs, pull requests merged in 2018-12, with the labels that each got.

#170 RK-483 Rook to rookout sdk
  docs/rooks-setup.md
  docs/rules-reference.md
Labels: DeployEnforcer/MergeOnceApproved, docs, enhancement

#173 RK-511 - Agent to ETL Agent
  docs/agent-setup.md
  docs/rules-reference.md
Labels: DeployEnforcer/MergeOnceApproved, docs, enhancement

#175 RK-522 workspace to project
  docs/projects-tagging.md
  docs/projects.md
  docs/quick-start.md
  docs/rules-scripting.md
  docs/rules-status.md
  docs/rules.md
  docs/workspaces.md
  website/sidebars.json
Labels: DeployEnforcer/MergeOnceApproved, docs, enhancement

#176 RK-493 workspace to project leftovers
  docs/projects-tagging.md
  docs/projects.md
  docs/rules-structure.md
  docs/sample-applications.md
  docs/source-repos.md
Labels: DeployEnforcer/MergeOnceApproved, docs, enhancement

#177 RK-610 remove broken link
  docs/quick-start.md
  docs/sample-applications.md
Labels: DeployEnforcer/MergeOnceApproved, bug, docs

#181 RK-640 - dump frame to snapshot in sample apps
  docs/sample-applications.md
Labels: DeployEnforcer/MergeOnceApproved, docs

#183 RK-611 merge minor spell fixes
  docs/breakpoints-status.md
  docs/sample-applications.md
Labels: bug, docs

#179 Added documentation for ant compilation instructions RK-606
  docs/sdk-setup.md
Labels: DeployEnforcer/MergeOnceApproved

#184 RK-715 - remove unnecessary comma
  docs/breakpoints-reference.md
Labels: DeployEnforcer/MergeOnceApproved, docs

#185 RK-702 add warning about pre-forking servers
  docs/quick-start.md
  docs/sdk-setup.md
Labels: DeployEnforcer/MergeOnceApproved
