Repository Rookout/docs, pull requests merged in 2018-10, with the labels that each got.

#56 Move proxy section
  docs/installation-agent-proxy.md
  docs/installation-agent-remote.md
  docs/installation-java.md
  docs/installation-node.md
  docs/installation-python.md
  docs/troubleshooting-home.md
  docs/troubleshooting-proxy.md
  website/i18n/en.json
  website/sidebars.json
Labels: docs, enhancement

#58 Fix incoherent wording
  docs/rules-index.md
Labels: docs

#60 Fix broken proxy link
  docs/installation-agent-proxy.md
  docs/installation-agent.md
  website/i18n/en.json
Labels: bug, docs

#61 Simplify get started
  docs/installation-overview.md
  docs/introduction.md
  docs/reference-home.md
  website/core/Footer.js
  website/i18n/en.json
  website/pages/en/index.js
  website/siteConfig.js
  website/static/index.html
Labels: docs, enhancement

#57 updated rook version support
  docs/installation-node.md
  docs/installation-python.md
  docs/rooks-java.md
  docs/rooks-node.md
  docs/rooks-python.md
  docs/troubleshooting-rooks.md
  website/pages/en/troubleshooting.js
Labels: docs, enhancement

#62 Simplify get started cont.
  docs/installation-agent-proxy.md
  docs/installation-agent.md
  docs/installation-java.md
  docs/installation-node.md
  docs/installation-overview.md
  docs/installation-python.md
  docs/introduction.md
  docs/java-getting-started.md
  docs/node-getting-started.md
  docs/python-getting-started.md
  docs/reference-home.md
  docs/troubleshooting-agent.md
  docs/troubleshooting-rooks.md
  docs/troubleshooting-rules.md
  website/core/Footer.js
  website/i18n/en.json
  website/sidebars.json
  website/siteConfig.js
Labels: DeployEnforcer/MergeOnceApproved, docs, enhancement

#64 Ongoing docs revamp
  docs/agent.md
  docs/installation-agent.md
  docs/installation-java.md
  docs/installation-node.md
  docs/installation-overview.md
  docs/installation-python.md
  docs/introduction.md
  docs/rooks-config.md
  docs/rooks-java.md
  docs/rooks-node.md
  docs/rooks-python.md
  docs/troubleshooting-agent.md
  docs/troubleshooting-rooks.md
  docs/troubleshooting-rules.md
  website/core/Footer.js
  website/i18n/en.json
  website/sidebars.json
  website/siteConfig.js
Labels: docs, enhancement

#66 Docs css revamp
  docs/installation-java.md
  docs/installation-node.md
  docs/installation-overview.md
  docs/installation-python.md
  website/static/css/custom.css
Labels: docs, enhancement

#67 Tabs component page
  docs/installation-overview.md
  website/static/css/custom.css
  website/static/index.html
Labels: docs, enhancement

#68 Copy to clipboard
  docs/installation-overview.md
  website/static/css/custom.css
  website/static/js/rookoutCustom.js
Labels: DeployEnforcer/MergeOnceApproved, docs, enhancement

#69 Added show copy on hover and modified button styling
  docs/installation-overview.md
  website/static/css/custom.css
Labels: DeployEnforcer/MergeOnceApproved, docs, enhancement

#70 Quick start next steps
  docs/installation-overview.md
  docs/introduction.md
  website/static/img/screenshots/quick_start_1.png
  website/static/img/screenshots/quick_start_2.png
  website/static/img/screenshots/quick_start_3.png
  website/static/img/screenshots/quick_start_4.png
  website/static/img/screenshots/quick_start_5.png
Labels: docs, enhancement

#71 Basic debugging
  docs/getting-started.md
  docs/installation-overview.md
  docs/introduction.md
  website/i18n/en.json
  website/sidebars.json
  website/static/img/screenshots/basic_debug_1.png
  website/static/img/screenshots/basic_debug_2.png
  website/static/img/screenshots/basic_debug_3.png
  website/static/img/screenshots/basic_debug_4.png
  website/static/img/screenshots/basic_debug_5.png
  website/static/img/screenshots/basic_debug_6.png
Labels: docs, enhancement

#72 Minor spelling error
  docs/installation-overview.md
Labels: bug, docs

#59 Update agent os version
  docs/agent.md
  docs/installation-agent.md
Labels: docs, enhancement

#75 agent installation post merge cleanup
  docs/agent.md
  docs/installation-agent.md
Labels: docs, enhancement

#74 Minor typo
  docs/installation-java.md
Labels: bug, docs

#73 Minor bugfix
  docs/installation-overview.md
Labels: bug, docs

#76 remove unsafe operations section
  docs/rules-operations.md
Labels: DeployEnforcer/MergeOnceApproved, docs, enhancement

#77 quick start comments
  docs/installation-overview.md
Labels: bug, docs

#78 more quick start comments
  docs/getting-started.md
  docs/installation-overview.md
  docs/introduction.md
  website/static/img/screenshots/basic_debug_4.png
  website/static/img/screenshots/basic_debug_6.png
Labels: bug, docs

#79 basic integrations guide
  docs/getting-started.md
  docs/integrations-overview.md
  website/i18n/en.json
  website/sidebars.json
  website/static/img/screenshots/basic_integration_1.png
  website/static/img/screenshots/basic_integration_2.png
Labels: docs, enhancement

#81 guide user to get his token from the app
  docs/installation-overview.md
  docs/java-getting-started.md
  docs/node-getting-started.md
  docs/python-getting-started.md
Labels: docs, enhancement

#54 added rule status screenshots
  docs/troubleshooting-home.md
  docs/troubleshooting-rules.md
  website/static/img/screenshots/rule_error_notification.png
  website/static/img/screenshots/rule_status_green.png
  website/static/img/screenshots/rule_status_grey.png
  website/static/img/screenshots/rule_status_orange.png
  website/static/img/screenshots/rule_status_red.png
  website/static/img/screenshots/rule_warning_notification.png
Labels: docs, enhancement

#80 make git optional in sandbox tutorials
  docs/java-getting-started.md
  docs/node-getting-started.md
  docs/python-getting-started.md
Labels: bug, docs

#83 agentless node tutorial leftovers
  docs/node-getting-started.md
Labels: docs, enhancement

#84 Dynamic Org Token in Docs
  website/siteConfig.js
  website/static/js/rookoutCustom.js
Labels: DeployEnforcer/MergeOnceApproved, docs

#85 Change npm script from npm run tutorial to npm start
  docs/node-getting-started.md
Labels: DeployEnforcer/MergeOnceApproved, docs, enhancement

#86 Fixed logo to be aligned
  website/static/css/custom.css
Labels: DeployEnforcer/MergeOnceApproved, docs

#88 Fixed token fetching to use our REST API endpoint
  website/siteConfig.js
  website/static/js/rookoutCustom.js
Labels: DeployEnforcer/MergeOnceApproved, docs, enhancement

#87 rookout ide link in quick start
  docs/installation-overview.md
Labels: DeployEnforcer/MergeOnceApproved, bug, docs

#89 Users token in all snippets
  docs/installation-agent-proxy.md
  docs/installation-agent.md
  docs/installation-java.md
  docs/installation-node.md
  docs/installation-python.md
  docs/java-getting-started.md
  docs/node-getting-started.md
  docs/python-getting-started.md
Labels: DeployEnforcer/MergeOnceApproved, docs, enhancement

#90 docs - agent configuration - send rookout data
  docs/agent.md
Labels: DeployEnforcer/MergeOnceApproved, docs, enhancement

#91 change path configuration
  docs/troubleshooting-rules.md
Labels: DeployEnforcer/MergeOnceApproved, docs

#92 Commit code style decorators to many items
  docs/getting-started.md
  docs/java-getting-started.md
  docs/node-getting-started.md
  docs/python-getting-started.md
  docs/tutorials-bughunt-java.md
  docs/tutorials-bughunt-node.md
  docs/tutorials-bughunt-python.md
Labels: DeployEnforcer/MergeOnceApproved, docs

#93 Sandboxes are now agentless
  docs/java-getting-started.md
  docs/node-getting-started.md
  docs/python-getting-started.md
Labels: DeployEnforcer/MergeOnceApproved, docs, enhancement

#94 Added page tab support
  docs/java-getting-started.md
  docs/node-getting-started.md
  docs/python-getting-started.md
  docs/sandbox-getting-started.md
  website/core/Footer.js
  website/i18n/en.json
  website/sidebars.json
  website/static/css/custom.css
  website/static/js/rookoutCustom.js
Labels: DeployEnforcer/MergeOnceApproved, docs

#96 Refresh rook documentation
  docs/installation-java.md
  docs/installation-node.md
  docs/installation-python.md
Labels: DeployEnforcer/MergeOnceApproved, docs, enhancement

#98 Fixed usage of tabs
  docs/installation-overview.md
Labels: bug, docs

#99 Show more info about org and org token
  docs/installation-overview.md
  docs/sandbox-getting-started.md
  website/static/js/rookoutCustom.js
Labels: DeployEnforcer/MergeOnceApproved, docs, enhancement

#102 new json target
  docs/rules-operations.md
Labels: docs, enhancement

#103 Better org info
  docs/installation-overview.md
  docs/introduction.md
  docs/sandbox-getting-started.md
  website/i18n/en.json
  website/static/css/custom.css
  website/static/js/rookoutCustom.js
Labels: docs, enhancement

#104 Mobile fixes
  docs/installation-overview.md
  docs/sandbox-getting-started.md
  website/static/css/custom.css
  website/static/css/docsearch.css
Labels: DeployEnforcer/MergeOnceApproved, docs, enhancement

#107 python uwsgi fork config
  docs/rooks-setup.md
Labels: DeployEnforcer/MergeOnceApproved, docs, enhancement

#106 test rook connectivity
  docs/rooks-setup.md
Labels: DeployEnforcer/MergeOnceApproved, docs, enhancement
